html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family:
    "Cera Pro",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}
